<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js" integrity="sha256-hNyljag6giCsjv/yKmxK8/VeHzvMDvc5u8AzmRvm1BI=" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #343a40;
            color: #eee;
          }
          
          .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            background-color: #202124;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          }
          
          h1 {
            color: #ffffff;
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          }
          
          form {
            padding: 2em;
            border-radius: 5px;
            background: #202124;
            color: #eee;
          }
          
          .form-control,
          .btn {
            background: #262626;
            color: #eee;
            border-color: #5F6368;
          }
          
          .form-control:focus,
          .btn:focus {
            border-color: #1a73e8;
            box-shadow: 0 0 0 0.2rem rgba(26, 115, 232, 0.25);
          }
          
          .form-label {
            color: #eee;
            font-size: 16px;
            font-weight: bold;
          }
          
          .btn {
            background: linear-gradient(90deg, #1a73e8 0%, #134db2 100%);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
            border-radius: 5px;
            transition: background 0.2s;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          }

          .btn-submit {
            margin-right: 10px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1;
            height: 100px;
          }
          
          .btn-submit:hover {
            color: #3cb371;
          }
          
          
          button.btn {
            margin-top: 10px;
          }
          
          .btn:hover {
            background: linear-gradient(90deg, #134db2 0%, #1a73e8 100%);
          }

          .btn-stop {
            flex-basis: 30%;
            margin-left: 10px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1;
            height: 100px;
          }
          
          
          .btn-stop:hover {
            color: #ff7f7f;
          }
          
          
          .output-container {
            margin-top: 2em;
            background-color: #1a1a1a;
            border: 1px solid #5F6368;
            padding: 1em;
            border-radius: 5px;
            overflow-y: auto;
            color: #eee;
          }
          
          textarea#outputText {
            width: 100%;
            height: 200px;
            background: #313639;
            border-color: #5F6368;
            color: #eee;
            font-size: 14px;
            line-height: 1.4;
          }
          
          footer {
            background-color: #262626;
            color: #eee;
            padding: 15px 0;
            text-align: center;
          }
          
          footer a {
            color: #1a73e8;
            margin: 0 10px;
            text-decoration: none;
            transition: color 0.2s;
          }
          
          footer a:hover {
            color: #134db2;
          }
          
          /* Additional Styles */
          .container {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          }
          
          .file-icon {
            font-size: 16px;
            margin-right: 5px;
          }
          
          .form-check {
            margin-bottom: 10px;
          }
          
          .form-check-label i {
            font-size: 0.85em;
            color: #1a73e8;
          }
          
          .form-group {
            margin-bottom: 25px;
          }
          
          .form-group div {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          
          .highlighted-text {
            background-color: #1a73e8;
            color: #eee;
          }
          
          .mode-label {
            cursor: pointer;
            transition: background-color 0.2s;
            padding: 5px 10px;
            border-radius: 5px;
          }
          
          .mode-label.selected {
            background-color: #1a73e8;
            color: #eee;
          }
          
          .mode-labels {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
          }
          
          .output-link {
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          }
          
          .output-link a {
            color: #1a73e8;
            text-decoration: none;
            transition: color 0.2s;
            display: inline-flex;
            align-items: center;
            margin-left: 5px;
          }
          
          
          .radio-option {
            display: flex;
            align-items: center;
          }
          
          .settings-container {
            display: flex;
            justify-content: space-between;
          }
          
          .slider {
            width: 100%;
            height: 25px;
            background-color: #5F6368;
            appearance: none;
            outline: none;
            opacity: 0.7;
            transition: opacity 0.2s;
            border-radius: 12.5px;
          }
          
          .slider-container {
            position: relative;
          }
          
          .slider:hover {
            opacity: 1;
          }
          
          .slider::-webkit-slider-thumb {
            appearance: none;
            width: 25px;
            height: 25px;
            background-color: #1a73e8;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #202124;
          }
          
          .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background-color: #1a73e8;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0 0 0 5px #202124;
          }
          
          textarea#prompt {
            resize: vertical;
          }
          
          legend {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          
        
    </style>
</head>

<body>
    <main class="container">
        <h1>SmartGPT</h1>
        <form action="/run" method="POST">
            <fieldset>
                <legend>System Parameters</legend>
                <div class="form-group">
                    <label for="prompt">Prompt:</label>
                    <textarea class="form-control" id="prompt" name="prompt" required
                        aria-describedby="promptHelp"></textarea>
                    <small id="promptHelp" class="form-text text-muted">Please enter a prompt. For example, 'Suppose I have a cabbage, a goat and a lion, and I need to get them across a river. I have a boat that can only carry myself and a single other item. I am not allowed to leave the cabbage and lion alone together, and I am not allowed to leave the lion and goat alone together. How can I safely get all three across?'</small>
                </div>
                <div class="form-group">
                    <label for="numAsks">Number of Questions Allowed:</label>
                    <input type="number" class="form-control" id="numAsks" name="numAsks" required
                        aria-describedby="numAsksHelp">
                    <small id="numAsksHelp" class="form-text text-muted">Please enter the number of questions you want
                        to ask.</small>
                </div>
                <div class="form-group">
                    <label for="apiKey">OpenAI API Key:</label>
                    <input type="password" class="form-control" id="apiKey" name="apiKey" required
                        aria-describedby="apiKeyHelp">
                    <small id="apiKeyHelp" class="form-text text-muted">Please enter your OpenAI API Key.</small>
                </div>
                <div class="settings-container d-flex justify-content-between">
                    <div class="form-group d-flex align-items-center">
                        <img src="https://cdn.cdnlogo.com/logos/o/38/openai.svg" alt="OpenAI logo"
                            style="width: 50px; height: 50px; margin-right: 10px;">
                        <div>
                            <label for="gptVersion">GPT Version:</label>
                            <select class="form-control" id="gptVersion" name="gptVersion"
                                aria-describedby="gptVersionHelp">
                                <option value="gpt-4" selected>GPT-4</option>
                                <option value="gpt-3.5-turbo-16k">GPT-3.5-turbo-16k</option>
                                <option value="gpt-3.5-turbo">GPT-3.5-turbo</option>
                            </select>
                            <small id="gptVersionHelp" class="form-text text-muted">Please select a GPT version. </small>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div id="modeEmoji" style="font-size: 50px; margin-right: 10px;">🔬</div>
                        <div>
                            <label for="model">Mode (COMMING SOON):</label>
                            <div class="slider-container">
                                <input type="range" min="1" max="4" value="1" class="slider" id="model" name="model">
                            </div>
                            <div class="mode-labels">
                                <span class="mode-label selected" data-mode="1">SmartGPT</span>
                                <span class="mode-label" data-mode="2">CongressGPT</span>
                                <span class="mode-label" data-mode="3">Tree Of Thought</span>
                                <span class="mode-label" data-mode="4">DevGPT</span>
                            </div>
                        </div>
                    </div>



                </div>
            </fieldset>
            <div class="btn-group">
                <button type="submit" class="btn btn-submit">Start</button>
                <button type="button" id="stopButton" class="btn btn-stop" disabled>Stop Generation</button>
                <div class="output-link">
                    <span class="file-icon" role="img" aria-label="File">📄</span>
                    <a href="/output/outputFileName.txt" target="_blank">Output File</a>
                  </div>
                  
                  
                
            </div>
        </form>
        <!-- Output and logs container -->
        <section class="output-container" id="output">
            <h2>Output and Logs</h2>
            <!-- Output will be appended here by script.js -->
            <div id="outputText"></div>
        </section>
    </main>

    <!-- Adding Footer -->
    <footer class="text-center p-3 mt-2" style="background-color: #202124; color: #eee;">
        <div class="container">
            <p class="mb-0">Made by Nicolas W Schlaepfer</p>
            <a href="https://github.com/nschlaepfer/SmartGPT" target="_blank"
                style="color: #1a73e8; margin-right: 15px;">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://twitter.com/nos_ult?s=21&t=YmvkY7sPLzacW9HQ6XExaA" target="_blank" style="color: #1a73e8;">
                <i class="fab fa-twitter"></i> Twitter
            </a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            var apiKey = localStorage.getItem('apiKey');
            var md = window.markdownit();
            if (apiKey) {
                $('#apiKey').val(apiKey);
            }


            $('#model').on('input', function () {
                var selectedMode = $(this).val();
                $('.mode-label').removeClass('selected');
                $('.mode-label[data-mode="' + selectedMode + '"]').addClass('selected');

                // Update the mode emoji based on the selected mode
                var modeEmoji = '🔬';
                if (selectedMode === '2') {
                    modeEmoji = '🏛️'; // CongressGPT
                } else if (selectedMode === '3') {
                    modeEmoji = '🌳'; // Tree Of Thought
                }
                $('#modeEmoji').text(modeEmoji);
            });

            $('.mode-label').on('click', function () {
                var selectedMode = $(this).data('mode');
                $('#model').val(selectedMode).trigger('input');
            });



            $('form').on('submit', function (event) {
                $('#outputText').html('<div class="spinner-grow text-primary" role="status"><span class="sr-only">Thinking...</span></div>');
                event.preventDefault();

                var apiKey = $('#apiKey').val();
                localStorage.setItem('apiKey', apiKey);

                // Enable the stop generation button
                $('#stopButton').prop('disabled', false);

                $.ajax({
                    type: 'POST',
                    url: '/run',
                    data: $(this).serialize(),
                    success: function (response) {
                        var gptOutput = md.render(response.gptOutput);
                        var finalAnswer = md.render(response.finalAnswer); // Assuming finalAnswer is also in Markdown
                        $('#outputText').html(gptOutput + "<br/>" + "Final Answer: " + finalAnswer);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            // Stop Generation button functionality
            $('#stopButton').on('click', function () {
                // Here you should have your code to stop the generation process
                // This code is highly dependent on your current implementation
                // and could require server-side adjustments as well.
                console.log("Stop button clicked. Implement generation stopping logic here.");
            });
        });
    </script>
</body>

</html>