/* styles.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #5075A9;
}

.invalid-feedback {
    color: red;
    display: none; /* Hidden by default */
}

.btn {
    background-color: #5075A9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #40638E;
}
.progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
}