<!DOCTYPE html>
<html>
<head>
    <title>Thought Generator Result</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>Result:</h1>
    <pre><%= output %></pre>
</body>


</html>

